/Tabuada/nbproject/private/
/Tabuada/build/
/Menor_Num/nbproject/private/
/Menor_Num/build/
/Verifica_Espaco/nbproject/private/
/Verifica_Espaco/build/
/Inverte_String/nbproject/private/
/Inverte_String/build/
/Localiza_Vogais/nbproject/private/
/Localiza_Vogais/build/